.card{
    background-color: var(--gray-light);
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
}

.card:hover{
    background-color: var(--gray);
    color: var(--white);
    transition: 0.5s;
}